<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Statement Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">
</head>

<body>
    <nav>
        <div class="logo">
            BankAI
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/upload">Upload</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/transactions">Transactions</a></li>
        </ul>
    </nav>

    <section class="hero">
        <div class="hero-text">
            <h1>
                Smart Bank Statement Analyzer
            </h1>
            <p>
                Upload your bank statement and analyze your income,
                expenses and spending patterns using Machine Learning.
            </p>

            <a href="/upload" class="btn">
                Upload Statement
            </a>
        </div>
    </section>

    <section class="features">
        <div class="card">
            <h2>📂 Upload</h2>
            <p>
                Upload CSV bank statements securely.
            </p>
        </div>

        <div class="card">
            <h2>📊 Dashboard</h2>
            <p>
                View income, expenses and transaction summary.
            </p>
        </div>

        <div class="card">
            <h2>🤖 AI Categorization</h2>
            <p>
                Automatically categorize transactions using ML.
            </p>
        </div>
    </section>

    <footer>
        <p>
            Bank Statement Analyzer © 2026
        </p>
    </footer>
</body>
</html>